<!doctype html>
<html>
    <head>
        <title>Express JS</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/main.js"></script>
    </head>
    <body>
        {{>header}}
        <h3>Page Not found <a href="/">Go to Home Page</a></h3>  
    </body>
    {{>footer}}
</html>